.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.selectColor {
  background-image: url('./header.jpg');
  padding-top: 35px;
  padding-bottom: 50px;
  color: white;
  background-size:  cover;
}

.innerBox {
  background-image: url('./inner.png');
  background-size:  cover;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.boxColor {
  background-color: #ada896;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
